@inherits LayoutComponentBase

<div class="page">

    <div class="container">
        <div class="row">
            <article class="content px-3 container-sm">
                <div class="row">
                    <div class="col-1">
                        &nbsp;
                    </div>
                    <div class="col-10">
                        @Body
                    </div>
                    <div class="col-1">
                        &nbsp;
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <footer class="footer">
                <div class="container text-center">
                    <span class="text-muted">No copywrite since 2021. 
                        <a href="https://georgekosmidis.net/" target="_blank" class="link-primary text-decoration-none">George Kosmidis</a>. 
                        Feel free to get the code from <a href="https://github.com/georgekosmidis/MongoDB.GuidConverter" target="_blank" class="link-primary text-decoration-none">https://github.com/georgekosmidis/Blazor.Base64GUID</a>
                    </span>
                </div>
            </footer>
        </div>

    </div>
</div>
